<div ng-controller="PersonController as vm">
    <h1>{{vm.title}}</h1>
    <div class="row">
        <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-container">
            <span class="glyphicon glyphicon-list"></span> Create New
        </a>
    </div>

    <person-card ng-repeat="person in vm.personList"
                 person-id="{{person.businessEntityID}}"
                 first-name="{{person.firstName}}"
                 middle-name="{{person.middleName}}"
                 last-name="{{person.lastName}}"
                 modified-date="{{person.modifiedDate}}"
                 class="col-lg-12">
        <div class="col-lg-4">
            <a href="#" ng-click="vm.getPerson(person.businessEntityID)" class="btn btn-success btn-sm" data-toggle="modal" data-target="#edit-person">
                <span class="glyphicon glyphicon-list"></span> Edit
            </a>
            <span>
                <button class="btn btn-success">Details</button>
            </span>
            <span>
                <button class="btn btn-success">Delete</button>
            </span>
        </div>
    </person-card>

    <!--Create-->
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Person Create</h4>
                </div>
                <div class="modal-body">
                    <form novalidate>
                        <!--<label>PersonID: </label><input type="hidden" readonly="readonly" name="businessEntityID" ng-model="person.businessEntityID" value="{{}}" /> <br/>-->
                        <label>Type: </label><input type="text" ng-model="vm.newPerson.personType" /> <br />
                        <label>Name Style: </label><input type="checkbox" value="false" ng-model="vm.newPerson.nameStyle" /><br />
                        <label>Title: </label><input type="text" ng-model="vm.newPerson.title" /><br />
                        <label>First Name: </label><input type="text" ng-model="vm.newPerson.firstName" /><br />
                        <label>Middle Name: </label><input type="text" ng-model="vm.newPerson.middleName" /><br />
                        <label>Last Name: </label><input type="text" ng-model="vm.newPerson.lastName" /><br />
                        <label>Suffix: </label><input type="text" ng-model="vm.newPerson.suffix" /><br />
                        <label>Email Promotion: </label><input type="text" ng-model="vm.newPerson.emailPromotion" /><br />
                        <label>Additional Contact Info: </label><input type="text" ng-model="vm.newPerson.additionalContactInfo" /><br />
                        <label>Demographics: </label><input type="text" ng-model="vm.newPerson.demographics" /><br />
                        <!--<label>Rowguid: </label><input type="hidden" readonly="readonly" ng-model="person.rowguid" /><br />-->
                        <label>Password: </label><input type="text" ng-model="vm.newPerson.password" /><br />
                        <hr />
                        <button type="button" ng-click="vm.createPerson(vm.newPerson)" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <hr />
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Edit-->
    <div class="modal fade" id="edit-person" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Person Create</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <form novalidate>
                            <label>Type: </label><input type="text" ng-model="vm.updatePerson.personType" /> <br />
                            <label>Name Style: </label><input type="checkbox" value="false" ng-model="vm.updatePerson.nameStyle" /><br />
                            <label>Title: </label><input type="text" ng-model="vm.updatePerson.title" /><br />
                            <label>First Name: </label><input type="text" ng-model="vm.updatePerson.firstName" /><br />
                            <label>Middle Name: </label><input type="text" ng-model="vm.updatePerson.middleName" /><br />
                            <label>Last Name: </label><input type="text" ng-model="vm.updatePerson.lastName" /><br />
                            <label>Suffix: </label><input type="text" ng-model="vm.updatePerson.suffix" /><br />
                            <label>Email Promotion: </label><input type="text" ng-model="vm.updatePerson.emailPromotion" /><br />
                            <label>Additional Contact Info: </label><input type="text" ng-model="vm.updatePerson.additionalContactInfo" /><br />
                            <label>Demographics: </label><input type="text" ng-model="vm.updatePerson.demographics" /><br />
                            <label>Password: </label><input type="text" ng-model="vm.updatePerson.password" /><br />
                            <!--<div class="form-group">
                                <div class="col-md-4">
                                    <label>Type: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control text-box single-line" ng-model="vm.updatePerson.personType" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Name Style: </label>
                                </div>
                                <div class="col-md-8">
                                    <div class="checkbox">
                                        <input class="check-box" type="checkbox" value="false" ng-model="vm.updatePerson.nameStyle" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Title: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control text-box single-line" ng-model="vm.updatePerson.title" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>First Name: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control text-box single-line" ng-model="vm.updatePerson.firstName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Middle Name: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control text-box single-line" ng-model="vm.updatePerson.middleName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Last Name: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control text-box single-line" ng-model="vm.updatePerson.lastName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Suffix: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control text-box single-line" ng-model="vm.updatePerson.suffix" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Email Promotion: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control text-box single-line valid" ng-model="vm.updatePerson.emailPromotion" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Additional Contact Info: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control text-box single-line" ng-model="vm.updatePerson.additionalContactInfo" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Demographics: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control text-box single-line" ng-model="vm.updatePerson.demographics" />
                                </div>
                            </div>-->
                            <hr />
                            <button type="button" ng-click="vm.personUpdate(vm.updatePerson)" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
